<!--<h1>Usermailer#account_activation</h1>-->

<!--<p>-->
<!--  <%#= @greeting %>, find me in app/views/usermailer_mailer/account_activation.html.erb-->
<!--</p>-->
<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to the Sample App! Click on the link below to activate your account:
</p>


<%= link_to "Activate", edit_account_activation_url(@ser.activation_token,email:@user.email)%>